---
import { getCollection, render } from 'astro:content';

import Layout from '../../layouts/Layout.astro';

const { slug } = Astro.params;

export async function getStaticPaths() {
  const posts = await getCollection('posts');

  return posts.map((post: { id: string; data: { title: string } }) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<!-- <Layout title={post.data.title}>
  <h1>{post.data.title}</h1>
  <Content />
</Layout> -->
<Layout>
  <p>Maybe a paragraph</p>
  <Content />
</Layout>
